In [28]:
import pandas as pd
import numpy as np
import json
from sklearn.preprocessing import MinMaxScaler

In [2]:
# Load JSON file
with open('user-wallet-transactions.json', 'r') as f:
    data = json.load(f)

In [3]:
# Convert to DataFrame
df = pd.DataFrame(data)

In [4]:
# Save to CSV
df.to_csv('output.csv', index=False)

In [5]:
print("JSON converted to CSV and saved as output.csv")

JSON converted to CSV and saved as output.csv

In [6]:
df.head()

,_id,userWallet,network,protocol,txHash,logId,timestamp,blockNumber,action,actionData,__v,createdAt,updatedAt
0,{'$oid': '681d38fed63812d4655f571a'},0x00000000001accfa9cef68cf5371a23025b6d4b6,polygon,aave_v2,0x695c69acf608fbf5d38e48ca5535e118cc213a89e3d6...,0x695c69acf608fbf5d38e48ca5535e118cc213a89e3d6...,1629178166,1629178166,deposit,"{'type': 'Deposit', 'amount': '2000000000', 'a...",0,{'$date': '2025-05-08T23:06:39.465Z'},{'$date': '2025-05-08T23:06:39.465Z'}
1,{'$oid': '681aa70dd6df53021cc6f3c0'},0x000000000051d07a4fb3bd10121a343d85818da6,polygon,aave_v2,0xe6fc162c86b2928b0ba9b82bda672763665152b9de9d...,0xe6fc162c86b2928b0ba9b82bda672763665152b9de9d...,1621525013,1621525013,deposit,"{'type': 'Deposit', 'amount': '145000000000000...",0,{'$date': '2025-05-07T00:19:26.159Z'},{'$date': '2025-05-07T00:19:26.159Z'}
2,{'$oid': '681d04c2d63812d4654c733e'},0x000000000096026fb41fc39f9875d164bd82e2dc,polygon,aave_v2,0xe2d7eb815c89331a734ed6f204a06c385a1b39040baa...,0xe2d7eb815c89331a734ed6f204a06c385a1b39040baa...,1627118913,1627118913,deposit,"{'type': 'Deposit', 'amount': '100000000000000...",0,{'$date': '2025-05-08T19:23:47.877Z'},{'$date': '2025-05-08T19:23:47.877Z'}
3,{'$oid': '681d133bd63812d46551b6ef'},0x000000000096026fb41fc39f9875d164bd82e2dc,polygon,aave_v2,0x0d63a2eacd82b82f868db825ea7385e6bd8d046ee729...,0x0d63a2eacd82b82f868db825ea7385e6bd8d046ee729...,1627773318,1627773318,deposit,"{'type': 'Deposit', 'amount': '400000000000000...",0,{'$date': '2025-05-08T20:25:33.141Z'},{'$date': '2025-05-08T20:25:33.141Z'}
4,{'$oid': '681899e4ba49fc91cf2f4454'},0x0000000000e189dd664b9ab08a33c4839953852c,polygon,aave_v2,0x590eabb812c5006a6f4766f44e6e9d3ad0b5b563de69...,0x590eabb812c5006a6f4766f44e6e9d3ad0b5b563de69...,1618845907,1618845907,redeemunderlying,"{'type': 'RedeemUnderlying', 'amount': '501548...",0,{'$date': '2025-05-05T10:58:45.934Z'},{'$date': '2025-05-05T10:58:45.934Z'}

In [7]:
# Drop unnecessary fields
df = df[['userWallet', 'timestamp', 'action', 'actionData']]

In [8]:
# Convert timestamp
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='s')

In [9]:
# Extract amount (convert to float from wei)
df['amount'] = df['actionData'].apply(lambda x: float(x.get('amount', 0)) / 1e18)

In [10]:
# Optional: extract asset
df['asset'] = df['actionData'].apply(lambda x: x.get('asset', ''))

In [11]:
# Drop actionData
df.drop(columns=['actionData'], inplace=True)

In [12]:
print(df.head())

                                   userWallet           timestamp  \
0  0x00000000001accfa9cef68cf5371a23025b6d4b6 2021-08-17 05:29:26
1  0x000000000051d07a4fb3bd10121a343d85818da6 2021-05-20 15:36:53
2  0x000000000096026fb41fc39f9875d164bd82e2dc 2021-07-24 09:28:33
3  0x000000000096026fb41fc39f9875d164bd82e2dc 2021-07-31 23:15:18
4  0x0000000000e189dd664b9ab08a33c4839953852c 2021-04-19 15:25:07

             action        amount asset
0           deposit  2.000000e-09
1           deposit  1.450000e+02
2           deposit  1.000000e-03
3           deposit  4.000000e-03
4  redeemunderlying  5.015480e-13

In [13]:
# Pivot features
agg = df.groupby(['userWallet', 'action'])['amount'].sum().unstack(fill_value=0)

In [14]:
# Transaction count
txn_count = df.groupby('userWallet').size().rename("num_transactions")

In [15]:
# Activity span
wallet_activity = df.groupby('userWallet')['timestamp'].agg(['min', 'max'])
wallet_activity['active_days'] = (wallet_activity['max'] - wallet_activity['min']).dt.days + 1

In [16]:
# Merge all
features = pd.concat([agg, txn_count, wallet_activity['active_days']], axis=1).fillna(0)

In [17]:
# Ratios
features['repay_to_borrow_ratio'] = features.get('repay', 0) / (features.get('borrow', 1))
features['deposit_to_withdraw_ratio'] = features.get('deposit', 0) / (features.get('redeemunderlying', 1))

In [21]:
# Define features that correlate with creditworthiness
scoring_features = features[['deposit', 'repay', 'num_transactions', 'active_days',
                             'repay_to_borrow_ratio', 'deposit_to_withdraw_ratio']]

In [37]:
# Normalize each feature
scaler = MinMaxScaler()
scaled_features = pd.DataFrame(scaler.fit_transform(scoring_features), 
                               columns=scoring_features.columns, 
                               index=features.index)

In [38]:
# Weighted sum (adjust weights as needed)
features['credit_score'] = (
    0.3 * scaled_features['deposit'] +
    0.2 * scaled_features['repay'] +
    0.15 * scaled_features['repay_to_borrow_ratio'] +
    0.1 * scaled_features['num_transactions'] +
    0.1 * scaled_features['active_days'] +
    0.15 * scaled_features['deposit_to_withdraw_ratio']
) * 1000

In [39]:
features['credit_score'] = features['credit_score'].clip(0, 1000).round(2)

In [40]:
# Final Output
wallet_scores = features[['credit_score']]
wallet_scores.to_csv("wallet_credit_scores.csv")